.wrapperOut {
    display: flex;
}

.wrapperIn {
    display: flex;
    flex-direction: column;
}


.userPhoto {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    object-fit: cover;
}

.login {
    font-weight: 400;
    font-style: italic;

    font-size: 12px;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    font-size: 18px;

    margin-right: 10px;

    border: 1px solid lightgray;
    border-radius: 13px;
    padding: 10px;

    transition:
            color .3s linear,
            background-color .3s linear;
}

.linkHighlited {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;

    margin-right: 10px;

    border: 1px solid lightgray;
    border-radius: 13px;
    padding: 10px;

    transition:
            color .3s linear,
            background-color .3s linear;

    color: #fff;
    background-color: #de2974;
}

.linkHighlited:hover {
    color: #eee;
    background-color: #e24a87;
}

.link:hover {
    color: #fff;
    background-color: #de2974;
}

.link:last-child {
    margin: 0;
}

