*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #FAD57F;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

body {
  color: #333333;
  background: rgb(251,215,128);
  background: linear-gradient(0deg,
              rgba(251,215,128,1) 0%,
              rgba(247,121,112,1) 100%) no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-size: 18px;
}

.wrapper {
  display: grid;
  width: 1000px;
  max-width: 100%;

  grid-template-areas:
  "header header"
  "nav content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  margin: 0 auto;
}

.content {
  gird-area: content;

  min-height: 87vh;

  overflow-x: hidden;

  width: 100%;
  max-width: 730px;

  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px  rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px  rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px  rgba(0, 0, 0, 0.3);
  padding: 10px 30px;
  margin: 10px 5px;

  position: relative;
}




